extends layout

block content
  //-h1= title
  //-h3= version
  pre
    |       ___      ___
    |      /   \----/   \
    |     |-----|  |-----|
    |     /\_0_/    \_0_/\
    |   -|      o  o      |-
    |  /  \______________/  \
    |  \ \ |   |    |   | / /
    |   ww ooooo----ooooo ww